.image-section {
    /* width: 100%; */
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 5px 0;
    margin: 0 auto; /* 가운데 정렬을 위해 추가 */
}
.slider-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
    border-radius: 30px;
}
.slider {
    display: flex;
    width: 100%;
    height: 100%;
}
/* 각 슬라이드 */
.slide {
    flex: 0 0 100%;
    min-width: 100%;
    position: relative;
}
.slider-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
/* 인디케이터 */
.slider-indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    z-index: 10;
    line-height: normal;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 8px 15px;
}
.indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border: none;
    padding: 0;
    transition: all 0.3s ease;
}
.indicator.active {
    background-color: white;
    transform: scale(1.2);
}
.nav-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: scale(1.1);
}
/* 화살표 네비게이션 추가 */
.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    transform: translateY(-50%);
    z-index: 20;
}


@media (max-width: 500px) {
    .nav-button {
        width: 25px;
        height: 25px;
    }
}

/* 모바일 화면에서 슬라이드 이미지 크기 조정 */
@media (max-width: 1200px) {
    .image-section {
        padding: 10px 0;
    }
    .slider-container {
        max-width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    .slide {
        height: 100%;
        display: flex;
        align-items: center;
    }
    .slider-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
